/* Desktop View */
html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: lightgray;
    width: 100vw;
    height: 30vh;
}

div {
    background-color: gray;
    margin: 60px 0px;
    width: 95vw;
    height: 40vh;
}

p {
    width: 80vw;
    font-size: 1rem; /** 1 x 16px - 16px */
}


/** Tablet View */
@media((min-width: 601px) and (max-width: 768px)){
    html {
        font-size: 14px;
    }
    header {
        background-color: red;
    }
    div {
        width: 80vw;
    }
}


/** Phone View */
@media((max-width: 600px)){
    html {
        font-size: 12px;
    }
    header {
        background-color: blue;
    }
    div {
        width: 100vw;
        margin: 0px 0px 60px 0px;
    }
}