/* page body */
h1 {
    text-align: center;
    color: aliceblue;
    background-color: rgb(70, 130, 180);
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}
h2 {
    text-align: center;
    color: rgb(70, 130, 180);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}   
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}   
h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
}
    

/* tables */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}
table, th, td {
    border: 5px solid rgb(4, 15, 116);
    border-collapse: collapse; 
    color: gold;
}
table {
    width: 80%;
    margin-bottom: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}
th {
    color: goldenrod;
    font-size: 25px;
}
th, td {
    padding: 5px;
    text-align: center;
    background-color:rgb(7, 10, 43)
}
td {
    font-size: 20px;
}
.error {
    background-color: rgb(241, 182, 182);
    color: red;
}