/*global*/
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: arial;
    background-color: beige;
}

/*------------------Header----------------*/
.site-init {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-size: 60px;
}
.site-init h1 {
    text-align: center;
    color: aliceblue;
    background-color: rgb(8, 34, 56);
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}
.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}
a{
    color: black;
    text-decoration: none;
}
.menu a{
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
}
.menu a:hover {
    color: darkred;
}
.page-title {
    text-align: center;
    margin: 30px;
}

/*-----------------Utilities-----------------------*/
.link-selected{
    color: darkred;
    text-decoration: underline;
}
.btn{
    background-color: #222222;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    border-color: blanchedalmond;
}
.btn:hover {
    background-color: darkred;
}

/*------------------Home Page Body----------------*/
.welcome-message {
    justify-content: center;
    align-items: center;
    margin: 45px;
}
.welcome-message h2 {
    text-align: center;
    font-size: xx-large;
}
.welcome-message p {
    text-align: center;
    font-size: 20px;
}
/*main*/
.page-dividers {
    display: flex;
    font-size: xx-large;
    color: rgba(138, 35, 197, 0.705);
    margin: 20px;
    justify-content: center;
}
.dish-month-container {
    display: flex;
    justify-content: center;

    align-items: center;
    width: 80%;
    margin: 0 auto;    
}
.dish-month-img {
    margin-right: 20px;
    border-radius: 5px;
    border-color: #01000700;
    border-style: solid;
}
.dish-month-text h2 {
    font-size: 38px;
}
.dish-month-text p {
    font-size: 20px;
    margin: 20px 0;
    padding: 10px;
}
.dish-month-text .text-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-flex p {
    font-size: 60px;
    padding: 15px;
}
/*all-dishes*/
.all-dishes-container {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}
.dish-container {
    background-color: #222222;
    color: white;
    border-style: ridge;
    border-radius: 8px;
    margin: 20px;
    padding: 10px;
}
.dish-container p {
    margin: 20px;
}
.dish-container img {
    width: 100%;
    border-radius: 5px;
}

/*-----------------Menu Page Body-----------------*/
h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}
.quick-picks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: auto;
    align-content: center;
    margin-top: 200px;
}
.quick-picks div {
    text-align: center;
    justify-content: center;
    align-items: center;
}

